<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <meta property="og:site_name" content="pUploads" />
    <meta property="og:title" content=content=<%=typeof filename !='undefined' ? filename : '' %>/>
    <meta property="og:image" content="/public/uploads/" + content=<%=typeof filename !='undefined' ? filename : '' %>
    />

</head>

<body>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dlForm").submit();
        });
    </script> -->

    <iframe style="display:none;" src=<%=typeof embedLink !='undefined' ? embedLink : '' %>></iframe>

    <p><b>File Name</b></p><br>
    <p>
        <%= typeof filename != 'undefined' ? filename : 'ERROR' %>
    </p>

    <p><b>Upload Date</b></p><br>
    <p>
        <%= typeof date != 'undefined' ? date : 'ERROR' %>
    </p>
    <form id="dlForm" method="POST" action=<%=typeof fid !='undefined' ? '/' + fid : '' %>>
        <input type="submit" value="Download">
    </form>
</body>

</html>