<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pUploads -
        <%=typeof filename !='undefined' ? filename : '' %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <meta property="og:url" content=<%=typeof fid !='undefined' ? 'http://www.uploads.poonkje.com/' + fid :
        'http://www.uploads.poonkje.com/' %> />
    <meta property="og:site_name" content="pUploads" />
    <meta property="og:title" content=<%=typeof filename !='undefined' ? filename : '' %> />
    <meta property="og:image" content=<%=typeof filenamedir !='undefined' ? filenamedir : '' %> />
    <meta property="twitter:image" content=<%=typeof filenamedir !='undefined' ? filenamedir : '' %> />
    <meta property="og:type" content="article" />
    <meta property="og:image:width" content=<%=typeof og_size_x !='undefined' ? og_size_x : '0' %> />
    <meta property="og:image:height" content=<%=typeof og_size_y !='undefined' ? og_size_y : '0' %> />
    <meta property="og:description" content="pUploads is an online service where you can store an file for a few days" />
    <meta name="twitter:card" content="summary_large_image" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

        body {
            background-image:url(<%= typeof uri != 'undefined' ? uri : ''%>);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css" />

</head>

<body>
    <div class="background"></div>
    <div class="fContainer">
        <!-- <iframe style="display:none;" src=<%=typeof embedLink !='undefined' ? embedLink : '' %>></iframe> -->
        <div class="filename">
            <div class="filetitle">
                <b>File Name</b><br>
            </div>
            <%= typeof filename != 'undefined' ? filename : 'ERROR' %>
        </div>

        <div>
            <b>Upload Date</b><br>
            <%= typeof date != 'undefined' ? date : 'ERROR' %>
            <br>
        </div>

        <div>
            <b>MD5 Checksum</b><br>
            <%= typeof MD5 != 'undefined' ? MD5 : 'ERROR' %>
        </div>

        <form id="dlForm" method="POST" action=<%=typeof fid !='undefined' ? '/' + fid : '' %>>
            <input type="submit" value="Download">
        </form>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </div>

    <div class="Cool">
        <script type="text/javascript">
            atOptions = {
                'key': 'e632bc9290908e068f491967e6aab39a',
                'format': 'iframe',
                'height': 60,
                'width': 468,
                'params': {}
            };
            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/e632bc9290908e068f491967e6aab39a/invoke.js"></scr' + 'ipt>');
        </script>
        <a href="https://adsterra.com/privacy-policy/">Ads served by Adsterra</a>
    </div>

    <div class="footer">
        <div class="dev">Developed by <a href="https://www.poonkje.com/">poonkje</a></div>
        <div class="footer_info">Background by <a href=<%=typeof profileURI !='undefined' ? profileURI : '' %>>
                <%= typeof username != 'undefined' ? username : ''%></a> on <a href="https://unsplash.com/?utm_source=pUploads&utm_medium=referral">Unsplash</a></div>
        <div class="privacy"><a href="http://uploads.poonkje.com/privacy">Privacy Policy</a></div>
    </div>
</body>

</html>