<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>

        body {
            background-image:url(<%= typeof uri != 'undefined' ? uri : ''%>);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Node file upload</title>
</head>

<body>
    <div class="background"></div>

    <div class="mContainer">
        <h1>File Upload</h1>
        <div style="color: red"><b>
                <p>
                    <%= typeof msg != 'undefined' ? msg : '' %>
                </p>
            </b>
        </div>
        <div>
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="uploadForm">
                    <div class="fLifeTime">
                        <label>File Lifetime</label>
                        <select id="selector" class="browser-default" name="lifeTime" onchange="UpdateForm('passwordField', this)">
                            <option value="1">1 Day</option>
                            <option value="2">2 Days</option>
                            <option value="3">3 Days</option>
                            <option value="perm">Permanent</option>
                        </select>
                    </div>
                    </br>
                    <div class="submit_form">
                        <div class="input-field col s12 passwordField" id="passwordField">
                            <input id="password" type="password" class="validate" name="password">
                            <label for="password">Password</label>
                        </div>
                        <button type="submit" class="btn s_btn">Submit</button>
                    </div>
                    <div class='file-field input-field fileSelectField'>
                        <div class='btn grey'>
                            <span>File</span>
                            <input name="myFile" type="file">
                        </div>
                        <div class='file-path=wrapper'>
                            <input class='file-path validate' type='text' placeholder="Upload a file">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p>
            <a href=<%=typeof dl !='undefined' ? dl : '' %>>
                <%= typeof dl != 'undefined' ? dl : '' %></a>
        </p>
    </div>

    <div class="footer">
        <div class="dev">Developed by <a href="https://www.poonkje.com/">poonkje</a></div>
        <div class="footer_info">Background by <a href=<%=typeof profileURI !='undefined' ? profileURI : '' %>>
                <%= typeof username != 'undefined' ? username : ''%></a> on <a href="https://unsplash.com/?utm_source=pUploads&utm_medium=referral">Unsplash</a></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <script>
        $('document').ready(function () {
            document.getElementById("selector").value = 1;
        });
        function UpdateForm(id, el) {
            document.getElementById(id).style.display = el.value == "perm" ? "table-cell" : "none";
        }
    </script>
</body>

</html>